---
# This tells clang-tidy which rules to turn on or off.
# The minus sign (-) means "turn off". The lack of a minus means "turn on".

Checks: >
  -*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  misc-const-correctness,
  readability-non-const-parameter,
  performance-unnecessary-value-param,
  performance-unnecessary-copy-initialization,
  readability-magic-numbers

# Treat these warnings as suggestions, not fatal errors
WarningsAsErrors: ''
...
